[submodule ".registry"]
	path = .registry
	url = https://github.com/biodancerwangzhi/biodancerwangzhi.r-universe.dev
	branch = HEAD
[submodule "crosscell"]
	path = crosscell
	url = https://github.com/biodancerwangzhi/crosscell
	subdir = crosscell-r
